@media screen and (max-width:768px) {

    header,
    .lessons,
    .steps,
    .why-us {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width:480px) {
    .row {
        flex-direction: column;
        align-items: center;

    }

    .lessons .col,
    .steps .col,
    .why-us .col {
        width: 100%;
    }

    .lessons .card {
        padding-bottom: 4rem;
    }

    .steps {
        margin: 0;
    }

    .steps h2 {
        margin-bottom: 0;
    }

    .steps img {
        margin-top: 3rem;
    }

    .why-us {
        background-color: #222222;
        margin: 0;
        padding: 3rem 0;
    }

    .why-us img {
        margin-bottom: 3rem;
    }


}